/* contain-sec */

.container-sec {
    margin-bottom: 96px;
}

.sec-img-info {
    display: flex;
    flex-direction: row;
    background-color: #ededf0;
}

.container-img img {
    width: 346px;
    padding: 24px 8px;
}

.container-text {
    display: flex;
    flex-direction: column;
    max-width: 358px;
    padding: 24px 8px;
    text-align: center;
}


@media (min-width: 1312px) {
    .wrap-mozilla-info {
        padding: 20px 80px 96px 80px;
    }
}
@media(min-width: 1024px) {
    .container-img {
        margin-left: calc(50% - 390px);
    }
}


/* show-info */

.show-info {
    display: flex;
    flex-direction: row;
}
.show-info div:nth-child(1) {
    border-right: 1px solid rgba(0,0,0,.2);
}

.show-info-container {
    box-sizing: border-box;
    display: block;
    padding: 0px 48px;
}
@media(min-width: 1024px) {
}

.show-info-ul {
    position: relative;
    left: 35px;
}
.show-info-li {
    list-style-type: disc;
    color: #0060df;
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
    line-height: 1.5;
}

/* 3 components */
.external {
    padding: 96px 80px 0px 80px;
}
.external-container {
    display: flex;
    flex-direction: row;
    max-width: 100%;
}
.external-component {
    text-align: center;
    margin: 0 auto;
}
.external-img {
    display: block;
    margin: 0 auto 24px;
    height: auto;
    max-width: 100px;
}
.external-text {
    max-width: 304px;
}

/* news letter */
.newsletter {
    display: flex;
    flex-direction: row;
    padding: 80px 192px 0;
}

.newsletter-left-side {
    box-sizing: border-box;
    width: 50%;
    margin-bottom: 24px;
    align-items: center;
}
.newsletter-img {
    max-width: 65%;
    margin: auto;
}
.newsletter-img img {
    max-width: 100%;
    height: auto;
}

.newsletter-right-side {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 50%;
    padding-top: 64px;
}

.input-label {
    display: block;
    margin: 0;
    font-size: 14px;
    padding-bottom: 8px;
    font-weight: 700;
}

.button-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.newsletter-button {
    background-color: black;
    color: white;
    border: 2px solid black;
    border-radius: 4px;
    padding: 6px 24px;
    margin-top: 20px;
    margin-bottom: 8px;
}
.newsletter-note {
    text-align: center;
    font-size: 12px
}


.input-data {
    min-width: 100%;
    background-color: white;
    margin-bottom: 24px;
    border: 2px solid #9595a2;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
    line-height: 1.25;
    padding: 8px;
}

/* footer */
.footer {
    padding-top: 24px;
    background-color: #000000;
    padding: 96px 80px;
}

.footer-top {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    padding-bottom: 32px;
    margin-bottom: 32px;
    box-sizing: border-box;
    border-bottom: 1px solid #42425a;
}

.footer-logo-wrap {
    margin-bottom: 32px;
}
.footer-top img {
    height: 32px;
}

.footer-content-wrap {
    display: flex;
    flex-direction: row;
}

.footer-content-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}



.footer-content-sns {
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    line-height: 1.5;
    font-size: 1rem;
    justify-content: space-between;
}
.footer-content-sns h5 {
    padding: 16px 0px;
}

.footer-content-sns-mozilla {
    display: flex;
    flex-direction: column;
}
.footer-content-sns-mozilla, .footer-content-sns-firefox > h5 {
    color: white;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
}

.sns-wrap {
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 48px;
}
#footer-content-last-child {
    padding-left: 24px;
    padding-right: 0px;
}

.sns-icon {
    margin-right: 16px;
}

/* footer-bottom */
.footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-bottom-left {
    display: flex;
    flex-direction: column;
}

.footer-term {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}
.footer-term > li {
    color: white;
    font-size: 12px;
    padding-right: 24px;
    padding-bottom: 16px;
    text-decoration: underline;
}
.footer-pre {
    color: white;
    font-size: 12px;
    line-height: 1.5;
}
.footer-pre > text {
    text-decoration: underline;
}



.footer-form {
    display: flex;
    flex-direction:column;
}
.footer-form > label {
    text-align: left;
    color: white;
    font-size: 14px;
    text-decoration: underline;
    margin-bottom: 8px;
}
#page-lang {
    min-width: 0;
    font-size: .75rem;
    line-height: 1.5;
    background-color: white;
    border: 2px solid #9595a2;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: 400;
    width: 175px;
    padding: 8px;
    padding-right: 34px;
}

.copyright {
    color: red;
}